@font-face {
    font-family: 'Zeequada';
    src: url('../fonts/Zeequada-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Schiffbauer';
    src: url('../fonts/Schiffbauer-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Schiffbauer', Arial, sans-serif, 'Zeequada';
    background: black;
    margin: 0;
    padding: 0;
}

.verify-email-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    padding: 0;
    margin: 0;
}

button {
    padding: 6px 8px;
    font-size: 1rem;
    color: white;
    background-color: #1a1a2e;
    border: #09010f solid 3px;
    border-radius: 50px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 0;
}

button:hover {
    background: linear-gradient(135deg, #4a2d77, #2a1a4a);
    border-color: #b77cff;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(128, 0, 128, 0.4);
}

button:active {
    transform: translateY(1px);
}

.actions form:last-child button {
    background: none;
    border: none;
    color: blue;
    padding: 6px 8px;
}

.actions form:last-child button:hover {
    background: none;
    transform: translateY(-3px);
    box-shadow: none;
}